@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    * {
        scrollbar-width: thin;
        scrollbar-color: blue orange;
    }

    /* Works on Chrome, Edge, and Safari */
    *::-webkit-scrollbar {
        width: 5px;
        border-radius: 5px;
    }

    *::-webkit-scrollbar-track {
        @apply bg-black-100
    }

    *::-webkit-scrollbar-thumb {
        @apply bg-black-300 rounded;
    }
}
